<div>
  <div>
    <h1> <strong>[</strong> Chloé Bretnacher <strong>]</strong></h1>
  </div>
  <div>
    <ul>
      <li><a href="<%= about_path %>">About</a></li>
      <li><a href="<%= projects_path %>">Projets</a></li>
      <li><a href="<%= contact_path %>">Contact</a></li>
    </ul>
  </div>
</div>

<div>
<h1>Contact</h1>
  <form action="<%= thank_you_path %>" method="post">
    <%= csrf_meta_tags %>
    <label for=\"name\">Nom:</label>
    <input type=\"text\" id=\"name\" name=\"name\" required>
    <label for=\"email\">Email:</label>
    <input type=\"email\" id=\"email\" name=\"email\" required>
    <label for=\"message\">Message:</label>
    <textarea id=\"message\" name=\"message\" required></textarea>
    <button type=\"submit\">Envoyer</button>
  </form>
</div>

<div>
  <ul>
    <li><a href="https://www.linkedin.com/in/chloé-bretnacher/">LinkedIn</a></li>
    <li><a href="https://www.instagram.com/nuagecreate/">Instagram</a></li>
    <li><a href="https://github.com/ChloeNuage">Github</a></li>
  </ul>
</div>

<div>
</div>
