<div>
  <div>
    <h1> <strong>[</strong> Chloé Bretnacher <strong>]</strong></h1>
  </div>
  <div>
    <ul>
      <li><a href="<%= about_path %>">About</a></li>
      <li><a href="<%= projects_path %>">Projets</a></li>
      <li><a href="<%= contact_path %>">Contact</a></li>
    </ul>
  </div>
</div>

<div>
  <h1>Projets</h1>
  <ul>
    <li><a href="<%= spark_path %>">Spark</a></li>
    <li><a href="<%= grands_path %>">Grands</a></li>
  </ul>
  <ul>
    <li><a href="https://chloebretnacher.wixsite.com/my-site-3">Design Portfolio</a></li>
    <li><a href="">Télécharger mon CV</a></li>
  </ul>
  <a href="<%= root_path %>">Retour à l'accueil</a>
</div>
<div>
</div>
